<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <h2 style="text-align: center;">SMY-NG</h2>
    <div class="content">
      <ul>
        <li>
          <a mat-button routerLink="/" routerLinkActive="mat-accent">Files</a>
        </li>
        <li *ngIf="userIsAuthenticated">
          <a mat-button routerLink="/create" routerLinkActive="mat-accent">Upload</a>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
