mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden
}

.doc-preview {
  height: 5rem;
  margin: 1rem 0;
}

.doc-preview img {
  height: 100%;
}
