:host {
  display: block;
  margin-top: 1rem;
}
mat-panel-title {
  border-bottom-color: rgba(0,0,0,.12);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px 8px 16px 24px;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.post-doc {
  width: 100%;
}

.post-doc img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,9,9,9);
}
